* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;

}

:root {
    --primary-color: #0A0908;
    --secondary-color: #C6AC8F;
    --light-primary: #EAE0D5;
    --light-secondary: #5E503F;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 100vw;
    justify-content: space-between;
    overflow: hidden;
    background-color: var(--primary-color);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

.icons {
    background-color: var(--primary-color);
    font-size: 1.5rem;
    border: none;
}

.icons i {
    color: var(--secondary-color);
}

.header__button__ul--toggle-list {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
    transition: all 2s ease-in-out;
}

.header__button__ul--toggle-list.show {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
    animation: slideIn 3s;
    animation-fill-mode: forwards;
}

@keyframes slideIn {
    from {
        background-color: var(--light-secondary);
    }

    to {
        background-color: var(--primary-color);
    }

}

.header__div__ul--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--secondary-color);
    background-color: rgba(87, 85, 85, 0.8);
    padding: 0.5rem 0;
}

.header__div__ul--header button {
    background: none;
    border: none;
}

.header__div__ul--header button i {
    color: var(--secondary-color);
    font-size: 1.5rem;
}

li {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 1rem;
    color: var(--secondary-color);
}

.li__div--content p {
    font-size: 0.7rem;
}

.header__button__ul--toggle-list ul button {
    background: none;
    border: none;
    justify-self: end;
}

.header__button__ul--toggle-list ul button i {
    color: var(--secondary-color);
}

main {
    text-align: center;
}

main p {
    font-size: 7rem;
    font-weight: 500;
    color: var(--secondary-color);
}

.main__div--buttons {
    display: flex;
    justify-content: center;
    column-gap: 5rem;
}

.selection-button {
    font-size: 2rem;
    background-color: var(--primary-color);
    border-radius: 50%;
    color: var(--secondary-color);
    border-color: var(--secondary-color);
    border-style: solid;
    border-width: 0.2rem;

}

.selection-button i {
    padding: 0.2rem;
}

/* The settings style */
.settings-header {
    background-color: rgba(87, 85, 85, 0.8);

}

.header__div--adjuster {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    max-width: 100vw;
    align-items: center;
    color: var(--secondary-color);
    padding: 0.5rem 0;
}

.header__div--adjuster button {
    background: none;
    border: none;
}

.header__div--adjuster button i {
    font-size: 1.5rem;
    color: var(--secondary-color);
}

.main__div--slider {
    margin-bottom: 40%;
    color: var(--secondary-color);
}

.main__div--input {
    margin-top: 20%;
}

.main__div--input input[type="range"] {
    appearance: none;
    -webkit-appearance: none;
    height: 0.2rem;
    background: var(--secondary-color);
    width: 80%;
}

.main__div--input input[type="range"]::-webkit-slider-runnable-track {}

.main__div--input[type="range"]::-moz-range-track {}

.main__div--input input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    cursor: pointer;
}



.main__div--increment {
    margin-top: 20%;
}

.main__div--increment button {
    font-size: 2rem;
    border-color: var(--secondary-color);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border-color: var(--secondary-color);
    background: none;
    border-width: 3px;
    border-style: solid;
}

.main__div--increment button i {
    color: var(--secondary-color);
}

.main__div--resetNsave {
    margin-top: 20%;
    display: flex;
    justify-content: center;
    column-gap: 3rem;
}

.main__div--resetNsave .reset,
.save {
    padding: 0.4rem;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: var(--secondary-color);
}

.light-or-dark-mode {
    background-color: maroon;
}

.light-or-dark-mode header {
    background-color: green;
}

footer h6 {
    text-align: center;
    color: var(--secondary-color);
    font-weight: 100;
}