* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --primary-color: #0a0908;
  --secondary-color: #c6ac8f;
  --light-primary: #eae0d5;
  --light-secondary: #5e503f;

  /* background-color toggle */
  --light-background: var(--light-primary);
  --text-color: var(--light-secondary);
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 100vw;
  justify-content: space-between;
  background-color: var(--primary-color);
}

body.light-or-dark-mode {
  background-color: var(--light-background);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.icons {
  background: none;
  font-size: 1.5rem;
  border: none;
}

.icons i {
  color: var(--secondary-color);
}

body.light-or-dark-mode .icons i {
  color: var(--text-color);
}

.header__button__ul--toggle-list {
  position: fixed;
  background-color: var(--primary-color);
  top: 0;
  right: 0;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
  transition: all 2s ease-in-out;
  z-index: 999;
}

.header__button__ul--toggle-list.show {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
}

body.light-or-dark-mode .header__button__ul--toggle-list {
  background-color: var(--light-background);
}

.header__div__ul--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--secondary-color);
  background-color: rgb(87, 85, 85);
  padding: 0.8rem 0;
}

.header__div__ul--header button {
  background: none;
  border: none;
}

.header__div__ul--header button a {
  text-decoration: none;
}

.header__div__ul--header button i {
  color: var(--secondary-color);
  font-size: 1.5rem;
}

li {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 1rem;
  color: var(--secondary-color);
}

body.light-or-dark-mode li {
  color: var(--text-color);
}

.li__div--content p {
  font-size: 0.7rem;
}

.header__button__ul--toggle-list ul button {
  background: none;
  border: none;
  justify-self: end;
}

.header__button__ul--toggle-list ul button i {
  color: var(--secondary-color);
}

body.light-or-dark-mode .header__button__ul--toggle-list ul button i {
  color: var(--text-color);
}

header button a {
  text-decoration: none;
}

main {
  text-align: center;
}

main p {
  font-size: 7rem;
  font-weight: 500;
  color: var(--secondary-color);
}

body.light-or-dark-mode main p {
  color: var(--text-color);
}

.main__div--buttons {
  display: flex;
  justify-content: center;
  column-gap: 5rem;
}

.selection-button {
  font-size: 2rem;
  background-color: var(--primary-color);
  border-radius: 50%;
  color: var(--secondary-color);
  border-color: var(--secondary-color);
  border-style: solid;
  border-width: 0.2rem;
}

body.light-or-dark-mode .selection-button {
  background-color: var(--light-background);
  color: var(--text-color);
}

.selection-button i {
  padding: 0.2rem;
}

/* The settings style */
.settings-header {
  background-color: rgb(87, 85, 85);
}

.header__div--adjuster {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  max-width: 100vw;
  align-items: center;
  color: var(--secondary-color);
  padding: 0.5rem 0;
}

.header__div--adjuster button {
  background: none;
  border: none;
}

.header__div--adjuster button i {
  font-size: 1.5rem;
  color: var(--secondary-color);
}

body.light-or-dark-mode .header__div--adjuster button .ri-contrast-2-line {
  color: var(--light-background);
}

.main__div--slider {
  margin-bottom: 40%;
  color: var(--secondary-color);
}

body.light-or-dark-mode .main__div--slider {
  color: var(--text-color);
}

.main__div--input {
  margin-top: 20%;
}

.main__div--input input[type="range"] {
  appearance: none;
  -webkit-appearance: none;
  height: 0.2rem;
  background: var(--secondary-color);
  width: 80%;
}

body.light-or-dark-mode .main__div--input input[type="range"] {
  background-color: var(--text-color);
}

.main__div--input input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  cursor: pointer;
}

body.light-or-dark-mode
  .main__div--input
  input[type="range"]::-webkit-slider-thumb {
  background-color: var(--text-color);
}

.main__div--increment {
  margin-top: 20%;
}

.main__div--increment button {
  font-size: 2rem;
  border-color: var(--secondary-color);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border-color: var(--secondary-color);
  background: none;
  border-width: 3px;
  border-style: solid;
}

.main__div--increment button i {
  color: var(--secondary-color);
}

body.light-or-dark-mode .main__div--increment button i {
  color: var(--text-color);
}

.main__div--resetNsave {
  margin-top: 20%;
  display: flex;
  justify-content: center;
  column-gap: 3rem;
}

.main__div--resetNsave .reset,
.save {
  padding: 0.4rem;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: var(--secondary-color);
}

body.light-or-dark-mode .main__div--resetNsave .reset,
body.light-or-dark-mode .main__div--resetNsave .save {
  background-color: var(--text-color);
}

/* Save-counter styles */
#save-counter-body header button {
  background-color: var(--light-secondary);
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
}

#save-counter-body.light-or-dark-mode header button {
  background-color: var(--secondary-color);
}

#save-counter-body header button a {
  font-size: 1rem;
  text-decoration: none;
  color: var(--secondary-color);
}

#save-counter-body.light-or-dark-mode header button a {
  color: var(--primary-color);
}

.main__div--save {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  row-gap: 1rem;
  color: var(--secondary-color);
}

.main__div--save div label {
  font-size: 2rem;
}

.main__div--div-input {
  display: flex;
  column-gap: 1rem;
}

.main__div--div-input input[type="text"] {
  color: var(--primary-color);
  font-size: 1rem;
}

.main__div--div-input button {
  background-color: var(--light-secondary);
  color: var(--secondary-color);
  font-size: 1rem;
}

body.light-or-dark-mode .main__div--div-input button {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.main__div--div-input input,
.main__div--div-input button {
  padding: 1rem;
  border: none;
  border-radius: 5px;
}

footer h6 {
  text-align: center;
  color: var(--secondary-color);
  font-weight: 500;
}

body.light-or-dark-mode footer h6 {
  color: var(--text-color);
}
