* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;

}

:root {
    --primary-color: #0d1b2a;
    --secondary-color: #e0e1dd;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: space-between;
}

main {
    text-align: center;
}

footer {
    text-align: center;
}