* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;

}

:root {
    --primary-color: #0d1b2a;
    --secondary-color: #e0e1dd;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: red;
}

.header__button__ul--toggle-list {
    background-color: pink;
    display: none;
}

.header__button__ul--toggle-list.show {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.header__div__ul--header {
    display: flex;
    justify-content: space-between;
    background-color: red;
}

li {
    display: flex;
    justify-content: center;
}

main {
    text-align: center;
    background-color: blue;
}

footer {
    text-align: center;
    background-color: green;
}